<h1>GreenBoard</h1>

<div class="adverts">
  <div class="advert">
    <div class="time"><%= @advert.created_at.strftime("%d/%m/%Y %H:%M") %></div>
    <p class="content"><%= @advert.content %></p>
    <div class="actions">
      <%= link_to 'Back', adverts_path %>&nbsp;|&nbsp;
      <%= link_to 'Destroy', @advert, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
</div>
