.common {
  display: inline-block;
  vertical-align:top;
  margin-right: 20px
}

body {
  width:600px;
  margin: 0 auto;
}

.advert {
  width: 100%;
  margin: 10px 0;
  padding: 10px 0;
  border-bottom: 1px solid #555;
}

.advert .time {
 background: #00ffff;
}

.advert p.content{
  font-family: Arial;
}

.advert .actions{
  width: 100%;
  text-align: right;
}
